/* Sidebar facet values on search results */
.facet-values {
  .advanced_facet_limit {
    .inclusive_or {
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);

      .facet-values {
        padding: 0;
      }

      .selected {
        color: $dark-teal !important;
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }
}

// Advanced Search Form
.advanced-search-form {
  .query-criteria,
  .limit-criteria,
  .sort-submit-buttons {
    margin-bottom: 1.5em;
  }

  // Form fields
  select {
    border-width: $form-select-border-width;
    border-color: $input-border-color;
    border-style: solid;
    border-radius: $form-select-border-radius;
    box-shadow: $form-select-box-shadow;
    background-color: $form-select-bg;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  select.form-control.sort-select {
    width: auto; // why does Bootstrap try to insist on explicit width? dunno.
    display: inline-block;
  }

  // Facets
  .advanced-facet-limits {
    .panel-group {
      padding-left: 0.5rem;
      padding-right: 0;

      @include media-breakpoint-down(md) {
        padding-left: 0;
      }
    }

    .facet-limit {
      border-radius: $card-border-radius !important;
      border: $card-border-width solid $card-border-color !important;
      margin-bottom: 1.5rem;
      box-shadow: none;
      cursor: pointer;

      .card-header {
        &.collapsed {
          border-radius: $card-border-radius;
        }
      }

      .facet-values {
        padding: 1rem;
        li {
          display: flex;
          align-items: center;
        }

        .label-and-count {
          width: 100%;
          font-size: 1rem;
          padding-left: 1em;

          label {
            display: flex;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;
          }
        }
      }
    }
  }

  .range_limit input::placeholder {
    @extend .text-black-50;
  }

  .blacklight-resource_type_facet {
    .facet-label {
      .icon {
        display: none;
      }
    }
  }

  // Form buttons
  .advanced-search-start-over {
    .icon {
      display: inline-block;
      width: 1.25em;
    }
  }
}
