.badges_container {
  .badge {
    @extend .badge;

    cursor: default;
    color: $badge-color;
    padding-right: $badge-padding-x;
    padding-left: $badge-padding-x;
    border-radius: $badge-border-radius;

    &.blacklight-date_added {
      background-color: $dark-teal;
    }
  }

  .blacklight-catalog-index & {
    display: block;
    margin-top: -0.4rem;
    margin-bottom: 0.75rem;
  }

  .blacklight-catalog-show & {

  }
}
