.constraints-container {
  @extend .mb-2;

  .btn {
    @extend .mb-2;
  }
}

.applied-filter {
  &.constraint {
    color: $white;
    background-color: $dark-teal;
    border-color: $dark-teal;

    &:hover {
      color: $white;
      background-color: color-level("dark-teal", 2);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 140, 156, 0.5);
    }
  }

  .constraint-value {
    display: inline-block;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;

    @media (max-width: breakpoint-min(sm)) {
      max-width: breakpoint-min(sm) * .5;
    }

    @media (min-width: breakpoint-min(sm)) and (max-width: breakpoint-min(md)) {
      max-width: breakpoint-min(sm) * .5;
    }

    @media (min-width: breakpoint-min(md)) and (max-width: breakpoint-min(lg)) {
      max-width: breakpoint-min(md) * .5;
    }

    @media (min-width: breakpoint-min(lg)) {
      max-width: breakpoint-min(lg) * .5;
    }

    &:hover,
    &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  .filter-name::after {
    color: $gray-500;
    content: "❯";
    font-size: 90%;
    padding-left: $caret-width;
  }

  .remove:hover,
  .remove:active {
    @extend .btn-danger;
  }

  // wbr elements are used to break up some facet labels. Ignore them here.
  wbr {
    display: none;
  }
}
