// Applies to all documents, whether on search results or single item view
.document,
.show-document {
  .result__label {
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    display: inline;
    text-align: left;
  }

  .result__value {
    display: inline;
  }

  .document-metadata {
    margin-bottom: 0;
  }
}

// document list on search results page
.documents-list {
  .document {
    @extend .py-lg-5;
    margin-top: 0;
    margin-left: $card-spacer-x;
    margin-right: $card-spacer-x;

    &.row:not(:last-child) {
      border-bottom: #d5d5d5 solid 1px;
    }

    .hover-counter {
      display: none;
    }

    &:hover {
      .hover-counter {
        @extend .border, .border-secondary-subtle;
        background: $white;
        border-radius: 3px;
        display: inline-block;
        font-size: 0.875rem;
        margin-left: 25px;
        padding: 0 3px;
        position: absolute;
        left: 100%;
        width: auto;
      }
    }

    .document-title-heading {
      @extend .fs-5;
      text-transform: none;
    }

    &.seen {
      .document-title-heading a {
        color: $indigo;
      }
    }

    .result__field {
      padding-bottom: 0.25rem;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;

      @include media-breakpoint-down(lg) {
        border-left: none;
      }
    }

    .result__label {
      font-weight: $font-weight-bold;
      display: inline;
      text-align: left;

      &.muted {
        @extend .text-body-secondary;

        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
      }
    }

    .result__value {
      display: inline;

      &.muted {
        @extend .text-body-secondary;
        @extend .fst-italic;

        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
      }
    }

    .result__table {
      display: inline-block;
      margin-bottom: 0;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      thead,
      tbody {
        display: inline-block;
        width: 100%;
      }

      tr {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 4px;
      }

      td,
      th {
        display: block;
        flex: 1;
        border-top: 0;
        border-bottom: 0;
        padding: 0;
      }

      .blacklight-notes {
        width: 100%;
        flex: auto;
      }
    }

    .blacklight-creator-contrib {
      @extend .fs-6;
      .more {
        @extend .text-body-secondary;

        display: inline-block;
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
      }
    }
  }

  .document-metadata {
    border-left: #d5d5d5 solid 4px;
    margin-bottom: 0;
  }
}

.documentHeader {
  margin-left: 4px;

  .document-title-date {
    font-weight: 300;
    font-size: 1.15rem;
  }
}
