<%# GLOBAL SEARCH TOOL %>

<div class="collapse container-fluid text-bg-dark-charcoal py-2"
     id="offcanvas-search">
  <div class="container-3xl mt-2 mb-4 px-2">
    <div class="d-flex justify-content-end mb-3 pb-3">
      <button type="button"
              class="text-uppercase fw-bold nav-link link-light border-bottom border-3 border-lime-green py2 fs-6"
              data-bs-toggle="collapse"
              data-bs-target="#offcanvas-search">
        close
        {% include utils/svg.html
        use="svg-xmark"
        viewBox="0 0 512 512"
        decorative="true"
        title="close"
        classes="svg-inline--fa" %}
      </button>
    </div>
    <div class="py-lg-4">
      {% include search/bento.html
      placement="offcanvas" %}
      <p class="mt-4">
        <svg class="svg-inline--fa fa-fw me-2 fa-lg text-warning"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512">
          <title>notice</title>
          <use href="#svg-circle-exclamation"></use>
        </svg>
        Some items are only available on campus
        or will require authentication via
        <a class="link-light-green dashed-focus-inverted"
           href="https://ams.untsystem.edu">EUID and Password</a> at the point of use.
      </p>
    </div>
  </div>
</div>
