.documents-list {
  .document {
    &.row {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: #d5d5d5 solid 1px;
    }
    .document-title-heading {
      font-size: $h4-font-size;
    }
    .document-metadata {

      .result__field {
        border-left: #d5d5d5 solid 4px;
        padding-left: 15px;
        width: 100%;
      }
      .result__label {
        color: theme-color("gray-darker");
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        text-transform: uppercase;
        display: inline;
        text-align: left;
      }
      .result__value {
        display: inline;
      }
    }
  }
}