body {
    @include media-breakpoint-down(sm) {
        padding-top: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-top: 5rem;
    }
}

.header {
    a:focus {
        outline-color: #FFF;
    }

    @include media-breakpoint-only(xs) {
        &__banner {
            display: none;
        }
        &__title {
            display: inline;
            &--parent, &--primary {
                font-family: $font-family-site-title;
                display: inline;
                font-size: .75rem;
            }
            &--parent{
                padding-right: .25rem;
                margin-right: .25rem;
                border-right: 1px solid $white;
            }
        }

        .btn-link {
            padding: .175rem .5rem;
        }
    }

    @include media-breakpoint-only(sm) {
        &__banner {
            display: inline;
            img { width: 5rem;}
        }
        &__title {
            display: inline;

            &--parent, &--primary {
                font-family: $font-family-site-title;
                display: inline;
                font-size: 1rem;
                padding-left: .25rem;
                margin-left: .25rem;
                border-left: 1px solid $white;
            }
        }

        .btn-link {
            padding: .175rem .5rem;
        }
    }

    @include media-breakpoint-up(md) {
        &__banner {
            width: 7rem;
            height: auto;
            position: absolute;
            z-index:100;
            top: -5px;

            &.no-subtitle {
                top:-15px;
            }
            .scrolled &--ribbon {
                display: none !important;
            }
            &--lettermark {
                display: none !important;
                top: 2px;
            }
            .scrolled &--lettermark {
                display: inline !important;
                position: relative;
                top: 16px;
            }
        }

        &__title {
            margin-left: 8.5rem;
            display: inline-block;

            .scrolled & {
                padding-top: .5rem;
                padding-bottom: .5rem;
            }

            &--parent, &--primary {
                font-family: $font-family-site-title;

                .scrolled & {
                    display: inline;
                    font-size: $h5-font-size;
                }
            }
            &--parent {
                font-size: $font-size-sm;

                .scrolled & {
                    padding-right: .5rem;
                    border-right: 1px solid $white;
                    margin-right: .5rem;
                }

            }
            &--primary {
                font-size: $h3-font-size;
            }
        }
    }

    &__link {
        color: $white;
        @include hover-focus {
            color: $white;
            text-decoration: none;
        }
    }
    // Override standard btn-link
    .btn-link {
        color: $white;
        border: none;
        border-bottom: 1px solid transparent;
        &:focus{
            outline: auto;
        }
        &:active{
            outline: none;
        }
    }
}

.scrolled .toggle--main {
    display: inline !important;
}