// Wrapper elements that produce a background to fill 100% of the browser width. 
.wrapper {
    &--header {
        background-color: $dark-green;
        color: $white;
        
        @include media-breakpoint-down(sm) {
            height: 3rem;
        }        
        
        @include media-breakpoint-up(md) {
            height: 5rem;
            transition: height .1s, background-color .1s;

            &.scrolled {
                height: 3rem;
                background-color: $green;
            }
        }

    }  
    &--navigation {
        background-color: $gray-900;
        z-index: 90;
        transition: background-color 0.3s;
        &.js-is-sticky {
            background-color: $dark-green;
        }
    }
    &--content {
        background-image: url(/assets/images/backgrounds/default.jpg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
    }
    &--social {
        background-color: $black;
        color: $white;
    }
    &--footer {
        background-color: $gray-900;
        color: $white;
    }
}