<%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="advanced-search-field row mb-4">
      <%= label_tag key, "#{field_def.label }", :class => "form-label col-md-3 control-label col-form-label text-md-right" %>
      <div class="col">
        <%= text_field_tag key, label_tag_default_for(key), :class => 'form-control' %>
      </div>
  </div>
<%- end -%>
