<% @page_title = "#{t('blacklight_advanced_search.form.title')} - #{application_name}" %>

<div class="advanced-search-form col">
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col">
          <h1 class="advanced page-header">
            <%= t('blacklight_advanced_search.form.title') %>
          </h1>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <%= render 'advanced_search_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:right_sidebar) do %>
  <%= render "advanced_search_help" %>
<% end %>
