// Prevent big FOUC before CSS parsing
.no-js .sort-pagination {
  .dropdown-menu {
    display: none !important;
  }
}

.featured-img-container {
  position: relative;
  padding-top: 55.55%;
}

.featured-img {
  position: absolute;
  top: 0;
}
