.hero {
	&-window {
		height: 56vh;
		max-height: 56vw;
	}
	&-background {
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
	}
	&-transition {
		transition: opacity 1.3s ease-in-out, transform 1.3s ease-in-out;
		opacity:0;
		transform: 1.3s ease-in-out;
	}
	&-blur {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			backdrop-filter: blur(10px);
			position: absolute;
		}
	}
	&-backdrop {
		backdrop-filter: blur(10px);
	}
}

.short-carousel-pager {
	height: calc(100% - 4.5rem)
}

.copy-wrapper {
	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 50%;
		start: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		width: 75%;

	}
}
