<div class="col px-0">
  <div id="site-messages">
    <div class="site_messages">
      <div class="alert alert-info text-center" role="alert">
        This site is currently in beta, so you may notice some rough edges. Please send your
        <%= link_to 'feedback', feedback_issue_url, target:'_blank', data: { toggle: 'tooltip', title: 'Provide site feedback, library staff only' } %> to help us improve.
      </div>
    </div>
  </div>
</div>
