<% unless t('announcement.content').blank? %>
  <div class="col px-0">
    <div id="site-messages">
      <div class="site_messages">
        <div class="alert alert-info text-center site-announcement" role="alert">
          <%= t('announcement.content').html_safe %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# TODO: Remove this static banner for wide release, use the i18n translation and block above %>
<div class="col px-0">
  <div id="site-messages">
    <div class="site_messages">
      <div class="alert alert-info text-center site-announcement" role="alert">
        This site is currently in beta, so you may notice some rough edges. Please
        <a href="<%= feedback_issue_email %>" class="feedback feedback-email">send your feedback</a>
        to help us improve.
      </div>
    </div>
  </div>
</div>