<div class="col px-0">
  <div id="site-messages">
    <% t('announcement').each do | announcement | %>
      <% if announcement[:active] %>
        <div class="alert alert-<%= announcement[:class].blank? ? 'info' : announcement[:class] %> text-center site-announcement" role="alert">
          <%= announcement[:content].html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
