// Availability on index template
.documents-list {
  .document {
    .item-availability {
      font-size: 0.9rem;
      color: $text-muted;

      .result__field {
        margin-bottom: 1rem;
        padding-bottom: 0;
      }

      .result__value {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      // Buttons used for availability status buttons
      .blacklight-availability {
        margin-top: 0;

        .availability-text {
          margin-bottom: 0.25rem;
          margin-top: 0.25rem;
        }

        .availability-btn {
          @extend .btn;
          @extend .btn-sm;
          @extend .btn-block;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 700;
          padding: 0.15rem 0.5rem;

          &.loading {
            color: theme-color('gray-light');
            background-color: white;
            border-color: theme-color('gray-light');
          }

          &.available {
            color: white;
            background-color: theme-color('primary');
            border-color: theme-color('primary');

            &:active,
            &:hover,
            &:focus {
              background-color: darken(theme-color('primary'), 5%);
            }
          }

          &.online {
            color: white;
            background-color: theme-color('primary');
            border-color: theme-color('primary');

            &:active,
            &:hover,
            &:focus {
              background-color: darken(theme-color('primary'), 5%);
            }
          }

          &.unavailable {
            color: white;
            background-color: theme-color('gray-light');
            border-color: theme-color('gray-light');

            &:active,
            &:hover,
            &:focus {
              background-color: darken(theme-color('gray-light'), 5%);
            }
          }

          & .loading-spinner {
            & span {
              @extend .spinner-grow;
              @extend .spinner-grow-sm;

              &:nth-child(2) {
                animation-delay: 0.16s;
              }

              &:nth-child(3) {
                animation-delay: 0.32s;
              }
            }
          }
        }
      }

      .more-available {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-block;
        @extend .btn-outline-primary;

        padding: 0.15rem 0.5rem;
      }
    }
  }
}

// Availability on show template
#show-availability {
  table {
    margin: 0 -0.75rem;

    th {
      display: table-cell;
      padding-top: 0;
      padding-bottom: 0.5rem;
    }

    td {
      display: table-cell;
      padding-top: 0;
      padding-bottom: 0.5rem;
      padding-right: 0;
    }
  }
}
