.constraints-container {
  @extend .mb-2;

  .btn {
    @extend .mb-2;
  }
}

.applied-filter {
  &.btn {
    color: $white;
    background-color: theme-color("dark-teal");
    border-color: theme-color("dark-teal");

    &:hover {
      color: $white;
      background-color: theme-color-level("dark-teal", 2);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(38, 140, 156, 0.5);
    }
  }

  .constraint-value {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;

    @media (max-width: breakpoint-max(xs)) {
      max-width: breakpoint-max(xs) / 2;
    }

    @media (min-width: breakpoint-min(sm)) and (max-width: breakpoint-max(sm)) {
      max-width: breakpoint-min(sm) / 2;
    }

    @media (min-width: breakpoint-min(md)) and (max-width: breakpoint-max(md)) {
      max-width: breakpoint-min(md) / 2;
    }

    @media (min-width: breakpoint-min(lg)) {
      max-width: breakpoint-min(lg) / 2;
    }

    &:hover,
    &:active {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  .filter-name::after {
    color: $gray-500;
    content: "❯";
    font-size: 90%;
    padding-left: $caret-width;
  }

  .remove:hover,
  .remove:active {
    @extend .btn-danger;
  }
}
