.header-container {
  max-width: 1600px;
}

.nav-container {
  max-width: 1600px;

  @include media-breakpoint-up(md) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.main-container {
  max-width: 1600px;
  margin-top: 1.5rem;

  @include media-breakpoint-up(md) {
    padding-left: 48px;
    padding-right: 48px;
    max-width: 1600px;
  }
}

.footer-container {
  max-width: 1600px;
}
