.documents-list {
  .document {
    margin-top: 0;

    &.row {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: #d5d5d5 solid 1px;
    }

    .document-title-heading {
      font-size: $h4-font-size;
      text-transform: none;
    }

    &.seen {
      .document-title-heading a {
        color: theme-color("indigo");
      }
    }

    .result__field {
      border-left: #d5d5d5 solid 4px;
      padding-bottom: 0.25rem;
      padding-left: 15px;
      width: 100%;

      @include media-breakpoint-down(md) {
        border-left: none;
      }
    }
  }
}

.document-metadata {
  margin-bottom: 0;

  .result__label {
    color: theme-color("gray-darker");
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    text-transform: uppercase;
    display: inline;
    text-align: left;
  }

  .result__value {
    display: inline;
  }
}
