.facet-extended-list {
  .facet-label {
    color: theme-color("dark-teal");
  }
}

.sidenav {
  .navbar {
    z-index: 1;
    background-color: theme-color("gray-darker");
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  .facet-group {
    margin-bottom: 0.5rem;

    .facet-limit:first-child {
      border-top: 2px solid;
    }

    &-priority {
      .facet-limit:first-child {
        border-top-color: theme-color("unt-green");
      }
    }

    &-location {
      .facet-limit:first-child {
        border-top-color: theme-color("light-green");
      }
    }

    &-date {
      .facet-limit:first-child {
        border-top-color: theme-color("lime-green");
      }
    }

    &-language {
      .facet-limit:first-child {
        border-top-color: theme-color("light-blue");
      }
    }

    &-publication {
      .facet-limit:first-child {
        border-top-color: theme-color("dark-teal");
      }
    }

    &-subjects {
      .facet-limit:first-child {
        border-top-color: theme-color("light-teal");
      }
    }

    &-game {
      .facet-limit:first-child {
        border-top-color: theme-color("aqua");
      }
    }
  }

  .navbar-toggler {
    border-color: $navbar-dark-toggler-border-color;
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .facets-heading {
    margin: 0;
    color: $white;
  }

  .facets-expand-collapse {
    background-color: inherit;
    border: 0;
    padding: 0 4px 0 0;
    transform: rotate(-90deg);
    transition: transform 0.1s ease;

    &[data-button-action="collapse"] {
      transform: rotate(0deg);
      transition: transform 0.1s ease;
    }

    @include hover-focus {
      box-shadow: none;
      color: $navbar-dark-active-color;
    }
  }

  .facet-field-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1rem;
    font-size: 0.95rem;
  }

  .facet-limit {
    margin-bottom: 0;
    border-top: 0;

    .card-header {
      background-color: $white;

      &.collapse-toggle {
        margin-bottom: 0;

        &::after {
          content: none;
        }

        .expand-collapse-icon {
          transform: rotate(0deg);
          transition: transform 0.1s ease;
        }

        &.collapsed {
          border-bottom: 0;

          .expand-collapse-icon {
            transform: rotate(-90deg);
            transition: transform 0.1s ease;
          }
        }
      }
    }

    .facet-values {
      padding: 0.5rem 0;
      font-size: 90%;
      font-weight: 400;

      .facet-count {
        width: auto;
      }

      .facet-values-item,
      .more_facets {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0;
        padding: 0.5rem 1rem;
      }
    }

    &-active {
      border-color: theme-color("dark-teal") !important;

      .card-header {
        background-color: theme-color("dark-teal") !important;
      }

      .selected {
        //color: theme-color("dark-teal") !important;
      }

      .remove {
        color: theme-color("danger");

        &:hover,
        &:focus {
          color: theme-color-level("danger", 2);
        }
      }

      .facet-field-heading {
        color: $white;
      }
    }

    .facet-label {
      color: theme-color("dark-teal");
      padding-bottom: 0;
      padding-right: 0;

      .icon {
        color: theme-color("gray-darker");
        display: inline;
      }

      .remove {
        text-indent: 0;
      }
    }
  }

  .facet-count.badge {
    font-size: 80%;
  }
}
