.show-tools {
  background-color: #fff;
  margin-bottom: 0;
  border-top: 0;

  .show-tools-heading {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1rem;
    font-size: 0.95rem;
  }

  .show-tools-values {
    padding: 0.5rem 0;
    font-size: 90%;
    font-weight: 400;

    .show-tools-item {
      border: 0;
      padding: 0.5rem 1rem;

      .nav-link {
        padding: 0;
        border: 0;
      }
    }
  }
}

.show-document {
  h1 {
    font-size: 1.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .result__field {
    border-left: 0;
  }

  .result__label {
    text-transform: none;
    color: theme-color("gray-dark");
  }
}
