.show-document {
  h1 {
    font-size: 1.75rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .result__field {
    border-left: 0;
  }

  .result__label {
    text-transform: none;
    color: theme-color("gray-dark");
  }
}
