.popover[class*="tour-"] {
  color: $clearcoat;
  background-color: theme-color("gray-darker");
  border: 1px solid theme-color("gray-darker");
  border-radius: $card-border-radius;

  &.bs-popover-right > .arrow::after {
    border-right-color: theme-color("gray-darker");
  }

  &.bs-popover-bottom > .arrow::after {
    border-bottom-color: theme-color("gray-darker");
  }

  &.bs-popover-left > .arrow::after {
    border-left-color: theme-color("gray-darker");
  }

  &.bs-popover-top > .arrow::after {
    border-top-color: theme-color("gray-darker");
  }

  .popover-header {
    color: $clearcoat;
    background-color: theme-color("gray-darker");
    border-bottom: 1px solid darken(theme-color('gray-darker'), 5%);
    border-radius: ($card-border-radius - 1) ($card-border-radius - 1) 0 0;
  }

  .popover-body {
    color: $clearcoat;
    background-color: theme-color("gray-darker");
  }

  .popover-navigation {
    background-color: theme-color("gray-darker");
  }
}

// Override bootstrap-tourist CSS to prevent backdrop flashing before first step
.tour-backdrop {
  display: none;
  opacity: 0.5;
}

.tour-highlight {
  display: none;
  border-radius: 0.25rem;
}