<%# Alerts %>
<%
  html_classes = load_yaml_data('www/html_classes')['alerts']
%>

<%# TODO: This needs work to be compatible with omni site %>
<div class="col px-0">
  <div id="site-messages">
    <% t('announcement').each do | announcement | %>
      <% if announcement[:active] %>
        <div class="alert alert-<%= announcement[:class].blank? ? 'info' : announcement[:class] %> text-center site-announcement" role="alert">
          <%= announcement[:content].html_safe %>
          <% if announcement[:dismissible] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
