/* Much of this is from the blacklight_advanced_search module, modified for our use. */

/* Sidebar facet values */
.facet-values {
  .advanced_facet_limit {
    .inclusive_or {
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      font-size: 1rem;
      padding: 0.5rem 1rem;

      .facet-values {
        padding: 0;
      }

      .selected {
        color: theme-color("dark-teal") !important;
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.constraints-container {
  .applied-filter {
    .constraint-connector {
      color: $gray-500 !important;
    }
  }
}

.inclusive_or .operator {
  margin-right: 1em;
}

#appliedParams .inclusive_or .operator {
  font-weight: 500;
}

form.advanced .adv_facet_selections {
  color: green;
  font-size: 80%;
  display: block;
  margin-top: 0.25em;
}

.advanced-search-form {
  .query-criteria-heading {
    // seems neccesary to get select menu to align okay, not sure why.
    vertical-align: bottom;
    margin-top: 0;
  }

  select.form-control.sort-select {
    width: auto; // why does Bootstrap try to insist on explicit width? dunno.
    display: inline-block;
  }

  .query-criteria,
  .limit-criteria,
  .sort-submit-buttons {
    margin-bottom: 1.5em;
  }
}

.blacklight-advanced-facet-select {
  // have to do some terribly complicated things with display:table and NESTED
  // tables to add our checkbox and <label> element and still use display-table
  // to align everything. sorry!
  .facet-checkbox,
  .label-and-count {
    display: table-cell;
  }

  .label-and-count {
    width: 100%;
    padding-left: 1em;
  }

  .facet-label {
    padding-left: 18px;
  }

  label {
    // a nested table, with existing from BL text and count as display:table-cell
    // already. the "display:table-row" element is implicit and will be added
    // by browser as a psuedo-element inside this label.
    display: table;
    width: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
}
