.alert {
  .suggest {
    @extend .alert-warning;

    a {
      @extend .alert-link;
    }
  }

  .message {
    margin: auto;
    max-width: 1600px;

    @include media-breakpoint-up(md) {
      padding-left: 76px;
      padding-right: 76px;
      max-width: 1600px;
    }
  }
}

.site-announcement {
  margin-bottom: 0;
}
