// Availability on index template
.blacklight-catalog-index {
  .documents-list {
    .item-loading-spinner {
      &.hide {
        height: 1.75rem;
        margin-bottom: 1rem;
        opacity: 0;
        transition: opacity 0.25s;
      }

      .loading-spinner {
        & span {
          @extend .spinner-grow;
          @extend .spinner-grow-sm;

          &:nth-child(2) {
            animation-delay: 0.16s;
          }

          &:nth-child(3) {
            animation-delay: 0.32s;
          }
        }
      }
    }

    .item-availability {
      visibility: hidden;
      opacity: 0;
      font-size: 0.9rem;
      color: $text-muted;
      max-height: 0;

      &.show {
        visibility: visible;
        opacity: 100;
        transition: opacity 0.25s;
        max-height: 500px;
      }

      .result__field {
        margin-bottom: 1rem;
        padding: 0;
      }

      .result__value {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }

      // Buttons used for availability status buttons
      .blacklight-availability {
        @extend .d-grid;
        margin-top: 0;

        .availability-text {
          margin-bottom: 0.25rem;
          margin-top: 0.25rem;
        }

        .availability-btn {
          @extend .btn;
          @extend .btn-sm;

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 700;
          padding: 0.15rem 0.5rem;

          &.disabled {
            color: $gray-500;
            background-color: white;
            border-color: $gray-500;
          }

          &.location-sycamore {
            &.available:not(.checked-out) {
              @extend .btn-light-teal;
            }

            &.checked-out {
              @extend .btn-outline-light-teal;

              background-color: transparent;
            }
          }

          &.location-willis {
            &.available:not(.checked-out) {
              @extend .btn-dark-teal;
            }

            &.checked-out {
              @extend .btn-outline-dark-teal;

              background-color: transparent;
            }
          }

          &.location-media {
            &.available:not(.checked-out) {
              @extend .btn-light-green;

              color: white;
            }

            &.checked-out {
              @extend .btn-outline-light-green;

              background-color: transparent;

              &:active,
              &:hover,
              &:focus {
                color: white;
              }
            }
          }

          &.location-discovery-park {
            &.available:not(.checked-out) {
              @extend .btn-lime-green;
            }

            &.checked-out {
              @extend .btn-outline-lime-green;

              background-color: transparent;
            }
          }

          &.location-remote-storage {
            &.available:not(.checked-out) {
              @extend .btn-aqua;

              color: white;
            }

            &.checked-out {
              @extend .btn-outline-aqua;

              background-color: transparent;
            }
          }

          &.location-frisco {
            &.available:not(.checked-out) {
              @extend .btn-forest-green;

              color: white;
            }

            &.checked-out {
              @extend .btn-outline-forest-green;

              background-color: transparent;
            }
          }

          &.online {
            color: white;
            background-color: $primary;
            border-color: $primary;

            &:active,
            &:hover,
            &:focus {
              background-color: darken($primary, 5%);
            }
          }

          &.unavailable {
            color: white;
            background-color: $gray-500;
            border-color: $gray-500;

            &:active,
            &:hover,
            &:focus {
              background-color: darken($gray-500, 5%);
            }
          }
        }
      }

      .blacklight-notes {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      .more-available,
      .check-availability {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-outline-primary;

        padding: 0.15rem 0.5rem;
      }
    }
  }
}

// Availability on show template
.blacklight-catalog-show {
  .item-availability {
    table {
      th {
        display: table-cell;
        padding-top: 0;
        padding-bottom: 0.5rem;

        &:first-child {
          padding-left: 0;
        }
      }

      td {
        display: table-cell;
        padding-top: 0;
        padding-bottom: 0.5rem;
        padding-right: 0;

        &:first-child {
          padding-left: 0;
        }
      }

      .more-less {
        background-color: #fff !important;
      }

      tbody.more-max {
        tr:nth-of-type(odd) {
          background-color: #fff;
        }

        tr:nth-of-type(even) {
          background-color: $table-accent-bg;
        }

        tr:hover {
          color: $table-hover-color;
          background-color: $table-hover-bg;
        }
      }
    }
  }
}
