.btn {
  &-primary {
    color: #fff;
    background-color: $green;
    border-color: $green;

    &:active,
    &:hover,
    &:focus {
      background-color: darken($green, 5%);
    }
  }

  &-outline {
    &-secondary {
      color: $green;
      border-color: $green;

      &:active,
      &:hover,
      &:focus {
        background-color: $green;
        color: $white;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 59, 0.25);
      }
    }
  }
}
