.blacklight-catalog-index {
  section.content {
    .card-body {

      & > .row {
        margin-left: -$card-spacer-x;
        margin-right: -$card-spacer-x;

        & > .col {
          padding-left: $card-spacer-x;
          padding-right: $card-spacer-x;
        }
      }
    }

    .documents-list {
      @extend .row;
      @extend .container-fluid;

      padding: 0;
    }
  }
}

.sort-pagination {
  background-color: theme-color-level("lime", -10);
  padding: $pagination-padding-y  $pagination-padding-x;
  margin: 0 !important;
  border: 1px solid transparent;

  .results-count {
    &__current {
      font-weight: bold;
    }
  }
}

.page-links {
  padding: 0;
  display: inline-block;
  border: 1px solid transparent;

  & .btn {
    font-size: 0.875em;
    padding-left: $btn-padding-x-sm / 2;
    padding-right: $btn-padding-x-sm / 2;
  }

  .page-entries {
    @extend .btn;
    @extend .btn-sm;

    cursor: auto;
  }
}
