@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../stylesheets/unt/variables';
@import '../../stylesheets/discover/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities/text';

.show-tools {
  background-color: #fff;

  .show-tools-heading {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1rem;
    font-size: 0.95rem;
  }

  .show-tools-values {
    padding: 0;
    font-size: 90%;
    font-weight: 400;

    li:first-of-type {
      padding-top: 1rem;
    }

    li:last-of-type {
      padding-bottom: 1rem;
    }

    li:nth-of-type(even) {
      background: $table-accent-bg;
    }

    li:hover {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }

    .show-tools-item {
      border: 0;
      padding: 0.5rem 1rem;

      .fa-fw {
        width: 3em;
      }

      .nav-link {
        display: inline-block;
        padding: 0;
        border: 0;
      }
    }
  }
}

.show-document {
  .show-heading-title {
    padding-top: 0;
    padding-bottom: 1.5rem;

    &__main {
      font-size: 2.5rem;
      padding-bottom: 0;

      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }

    &__sub {
      @extend .text-muted;
    }
  }

  .result__field {
    border-left: 0;
  }

  .result__label {
    text-transform: none;
    color: theme-color("gray-dark");
  }

  .result__value {
    &.blacklight-toc_notes {
      line-height: 1.4rem;
      margin-bottom: 0.6rem;
      margin-left: 15px;
      border-left: 4px solid theme-color("gray-lighter");

      br {
        content: '';
        display: block;
        height: 10px;
      }
    }
  }
}

.link-media-item.fulltext {
  display: inline-block;

  span {
    vertical-align: top;
  }

  .find-it-image {
    display: inline-block;
    content: '';
    margin-right: 4px;
    background: url(../images/catalog/find-it-round.png) no-repeat center;
    height: 20px;
    width: 87px;
  }
}

.anchor::before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}
