.thumbnail-wrapper {
  padding: 0;
}

.document-thumbnail {
  float: none !important;

  // Search results index page thumbnails
  .documents-list .document & {
    padding-left: 0;
  }

  &.thumbnail-loaded {
    img {
      width: 150px;
      //max-width: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      }
    }

    &.show-thumbnail {
      img {
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  .icon {
    color: theme-color("gray-lighter");
    margin: auto;
    width: 150px;
    height: 150px;

    &.index-icon {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);

        & svg {
          color: theme-color-level("gray-light");
        }
      }
    }
  }

  &.show-thumbnail {
    font-size: 0.6em;
  }
}
