<div class="card ">
  <div class="card-body">
    <h1>We're sorry, but something went wrong.</h1>
    <p>Our server experienced a temporary error. Try your search again. You can also
      <%= mail_to 'ui.library@unt.edu', 'contact us' %> if you need additional assistance.</p>
  </div>
</div>