<div class="card">
  <div class="card-body">
    <h1>We couldn't find what you're looking for</h1>
    <p>Here are some common reasons why this might have happened:</p>
    <ul>
      <li>
        <strong>The item may have been removed from our catalog:</strong> 
        Sometimes books are lost or withdrawn, and sometimes e-books and 
        other e-resources are removed from the Libraries' subscription packages.
      </li>
      <li><strong>The link might be outdated: </strong> If you followed a link 
      from a subject or course guide, it may no longer point to a live item. 
      The link could have been typed incorrectly.</li>
    </ul>
    <p>Try this:</p>
    <ul>
      <li><%= link_to 'Search for the item here by title, author, keyword, etc.', root_path %></li>
      <li><%= link_to 'Ask a librarian for help.', 'https://library.unt.edu/ask-us/' %'></li>
      <li><%= link_to Request the item through Interlibrary Loan (ILL).', 'https://library.unt.edu/services/ill-document-delivery/' %></li>
    </ul>
  </div>
</div>
