<div class="card ">
  <div class="card-body">
    <h1>The page you were looking for doesn't exist.</h1>
    <p>You may have mistyped the address or the page may have moved.</p>
    <p>Try searching again or <%= link_to 'return home', root_path %>. You can also
      <%= link_to 'visit the Old Catalog', 'https://iii.library.unt.edu/' %>. If something
      works better there, please <%= mail_to 'ui.library@unt.edu', 'let us know' %>
      so we can continue improving this site.</p>
  </div>
</div>
