<div class='card card-default'>
  <div class="card-body">
    <h4 class="card-title">Search Tips</h4>
    <ul class="advanced-help">
      <li>Select match "<strong>all</strong>" to require all fields.</li>

      <li>Select match "<strong>any</strong>" to find at least one field.</li>

      <li>Use quotation marks to search as a phrase.
        <a href="/?utf8=✓&q=%22latino+studies%22&search_field=text">Example</a></li>

      <li>Use "<strong>+</strong>" before a term to make it required. (Otherwise results matching
        only some of your terms may be included).</li>

      <li>Use "<strong>-</strong>" before a word or phrase to exclude.</li>

      <li>Use "<strong>OR</strong>", "<strong>AND</strong>", and "<strong>NOT</strong>" to create
        complex searches. You can use parentheses in your complex expressions.
        <a href="/?utf8=✓&q=Hamlet+OR+Macbeth&search_field=text">Example</a></li>

      <li>Truncation and wildcards are not supported.</li>

      <li>Word-stemming is done automatically.</li>
    </ul>
  </div>
</div>
