<% content_for(:search_title) do %>
  <h1>Start searching now:</h1>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Featured Resources</h1>
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://digital.library.unt.edu/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://digital.library.unt.edu/" target="_blank">UNT Digital Library</a></h5>
        <p>Description of UNT Digital Library</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://texashistory.unt.edu/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://texashistory.unt.edu/" target="_blank">Portal to Texas History</a></h5>
        <p>Description of Portal to Texas History</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://digital.library.unt.edu/explore/collections/UNTETD/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://digital.library.unt.edu/explore/collections/UNTETD/" target="_blank">Theses and Dissertations</a></h5>
        <p>Description of Theses and Dissertations</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://library.unt.edu/services/course-reserves/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://library.unt.edu/services/course-reserves/" target="_blank">Course Reserves</a></h5>
        <p>Description of Course Reserves</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://guides.library.unt.edu/az.php">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://guides.library.unt.edu/az.php" target="_blank">Databases</a></h5>
        <p>Description of Databases</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://findingaids.library.unt.edu/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://findingaids.library.unt.edu/" target="_blank">Archival Collections</a></h5>
        <p>Description of Archival Collections</p>
      </div>
    </div>
  </div>
</div>
