<% content_for(:search_title) do %>
  <h1>Start searching now:</h1>
<% end %>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Featured Resources</h1>
    <div class="row">
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://digital.library.unt.edu/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://digital.library.unt.edu/" target="_blank">UNT Digital Library</a></h5>
        <p>Home to materials from UNT's research, creative, and scholarly activities.</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://texashistory.unt.edu/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://texashistory.unt.edu/" target="_blank">Portal to Texas History</a></h5>
        <p>A gateway to rare, historical, and primary source materials from or about Texas.</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://digital.library.unt.edu/explore/collections/UNTETD/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://digital.library.unt.edu/explore/collections/UNTETD/" target="_blank">Theses and Dissertations</a></h5>
        <p>A wealth of scholarly and artistic content created by masters and doctoral students in the degree-seeking process.</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://library.unt.edu/services/course-reserves/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://library.unt.edu/services/course-reserves/" target="_blank">Course Reserves</a></h5>
        <p>Materials held for faculty members as required or recommended reading for their courses.</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://guides.library.unt.edu/az.php">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://guides.library.unt.edu/az.php" target="_blank">Databases</a></h5>
        <p>Find the best library databases for your research.</p>
      </div>
      <div class="col-12 col-sm-6 col-xl-4">
        <a href="https://findingaids.library.unt.edu/">
          <img class="img-fluid" src="https://via.placeholder.com/340x200">
        </a>
        <h5 class="mt-2"><a href="https://findingaids.library.unt.edu/" target="_blank">Archival Collections</a></h5>
        <p>Search finding aids for archival holdings within the UNT Libraries.</p>
      </div>
    </div>
  </div>
</div>
