<div class="row mb-4">
  <div class="col-12">
    <%= render 'search_results_num_header' %>
  </div>
</div>

<div id="tourSearchField" class="row mb-2">
  <div class="col-12">
    <%= render 'shared/content/search-bar' %>
  </div>
</div>

<div id="tourSearchConstraints" class="row mb-2">
  <div class="col-12">
    <%= render 'constraints' %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render 'sort_and_per_page' %>
  </div>
</div>