<div>
  <h4>Popular Pre-Filters</h4>
  <div class="font-italic text-muted pb-3">Narrow your search faster by submitting your term (above) with one of these options pre-selected.</div>

  <div class="btn-toolbar d-flex pre-filter-container" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <button type="button" class="btn btn-light-teal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fal fa-book img-fluid"></i>
        Books
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">New</a>
        <a class="dropdown-item" href="#">Online Only</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <a class="dropdown-item" href="#">Physical Volumes</a>
        <a class="dropdown-item" href="#">Reserves (redirect out to iii)</a>
      </div>
    </div>

    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <button type="button" class="btn btn-dark-teal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fal fa-book-alt img-fluid"></i>
        Journals & Periodicals
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Online</a>
        <a class="dropdown-item" href="#">At the Library</a>
        <a class="dropdown-item" href="#">Newspapers</a>
        <a class="dropdown-item" href="#">Search Inside  (redirect to summon w/ query string)</a>
      </div>
    </div>

    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <button type="button" class="btn btn-lime-green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fal fa-music img-fluid"></i>
        Music
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Scores</a>
        <a class="dropdown-item" href="#">Music Recordings</a>
        <a class="dropdown-item" href="#">Books</a>
        <a class="dropdown-item" href="#">Online</a>
        <a class="dropdown-item" href="#">Equipment</a>
      </div>
    </div>

    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <button type="button" class="btn btn-light-green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fal fa-film img-fluid"></i>
        Film & Media
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">DVDs</a>
        <a class="dropdown-item" href="#">Online</a>
        <a class="dropdown-item" href="#">Spoken Audio</a>
        <a class="dropdown-item" href="#">All Formats</a>
      </div>
    </div>
  </div>

  <div class="btn-toolbar d-flex" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fal fa-gamepad img-fluid"></i>
        Gaming
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Systems & Peripherals</a>
        <a class="dropdown-item" href="#">Console Games</a>
        <a class="dropdown-item" href="#">Handheld</a>
        <a class="dropdown-item" href="#">Tabletop</a>
      </div>
    </div>

    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <button type="button" class="btn btn-aqua dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="icon fal fa-cube img-fluid"></i>
        Makers
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Equipment & Tools</a>
        <a class="dropdown-item" href="#">A/V Equipment (redirect to https://guides.library.unt.edu/spark/av)</a>
      </div>
    </div>

    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <a href="#" class="btn btn-lime">
        <i class="icon fal fa-database img-fluid"></i>
        Databases
      </a>
    </div>

    <div class="btn-group btn-group-lg flex-fill p-1 pre-filter-btn-group">
      <a href="#" class="btn btn-forest-green">
        <i class="icon fal fa-archive img-fluid"></i>
        Government Docs
      </a>
    </div>
  </div>
</div>
