<div>
  <h4>Popular Pre-Filters</h4>
  <div class="font-italic text-muted pb-3">Narrow your search faster by submitting your term (above) with one of these options pre-selected.</div>

  <% [prefilter_hash.to_a[0..3], prefilter_hash.to_a[4..-1]].each do |row| %>
    <div class="btn-toolbar d-flex pre-filter-container" role="toolbar" aria-label="Toolbar with button groups">
      <% row.each do |k, button| %>
        <div class="btn-group flex-fill p-1 pre-filter-btn-group">

          <button type="button" class="btn btn-<%= button['color'] %> dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon fal fa-<%= button['icon'] %> img-fluid"></i>
            <%= button['label'] %>
          </button>
          <div class="dropdown-menu">
            <% button['links'].each do |link| %>
              <%= render_prefilter_link(link, button['label']) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
