<%# render general fields without :display property %>
<% fields ||= presenter.fields_to_render.select { |name, f| f[:display] == display_name.to_sym }%>

<div class="card item-<%= display_name %> breathing-room">
  <div class="card-body">
    <h3 class="card-title <%= display_name.parameterize %>-heading"><%= display_name.titlecase %></h3>
    <dl class="dl-invert document-metadata">
      <% fields.each do |field_name, field, field_presenter| -%>
        <%= render partial: 'show_field',
                   locals: {
                       display_name: display_name,
                       field_name: field_name,
                       field: field,
                       field_presenter: field_presenter
                   }
        %>
      <% end -%>
    </dl>
  </div>
</div>
