<% document ||= @document
   id = document[:id]
   doc_presenter = show_presenter(document)
   items = document[:items_json].nil? ? nil : json_str_to_array(document[:items_json])
   more_items = document[:more_items_json].nil? ? nil : json_str_to_array(document[:more_items_json])
%>
<% unless items.nil? %>
<div class="card item-availability">
  <div class="card-header">Availability</div>
  <span class="card-body">
    <div class="row">
      <div class="col blacklight-location result__label">Location</div>
      <div class="col blacklight-call-number result__label">Call Number</div>
      <div class="col blacklight-availability result__label">Availability</div>
      <div class="col blacklight-request result__label d-none">Request</div>
      <% if items_have_notes?(items) %>
        <div class="col blacklight-notes result__label">Notes</div>
      <% end %>
    </div>
    <% if items.nil? -%>
      <div class="row"
          data-item-call-number="<%= document[:main_call_number] %>">
        <div class="col blacklight-location result__value">Location TBD</div>
        <div class="col blacklight-call-number result__value"><%= document[:main_call_number] || 'N/A' %></div>
        <div class="col blacklight-availability result__value">Checking availability</div>
      </div>
    <% else %>
      <% items.each do |item| %>
        <%= render partial: 'show_availability_item', locals: { document: document, items: items, item: item} %>
      <% end %>
      <% if more_items %>
        <span class="more-min"></span>
        <a href="#" onclick="return false" class="reveal-more">more...</a>
        <span class="more-max d-none">
        <% more_items.each do |item| %>
          <%= render partial: 'show_availability_item', locals: { document: document, items: more_items, item: item} %>
        <% end %>
        </span>
      <% end %>
    <% end %>
  </span>
</div>
<% end %>
