<% document ||= @document
   id = document[:id]
   doc_presenter = show_presenter(document)
   # items = document[:items_json].nil? ? nil : json_str_to_array(document[:items_json])
   # more_items = document[:more_items_json].nil? ? nil : json_str_to_array(document[:more_items_json])
%>
<div class="card show-availability-summary">
  <div class="card-body">
    <h3 class="card-title">Find it now</h3>
    <p>Availability summary will go here</p>
    <button type="button" class="btn btn-primary btn-block w-75 mx-auto">Find it</button>

  </div>
</div>
