<%# render fields with :links_media display property in a card %>
<% document ||= @document
   id = document[:id]
   doc_presenter = show_presenter(document)
%>

<% if doc_presenter.fields_to_render.any? { |name, f| f[:display] == :links_media } -%>
<span id="show-links_media" class="item-links-media anchor">
    <span class="links_media-heading anchor sr-only">Links & Media</span>
    <span class="document-metadata mb-3">
      <% doc_presenter.fields_to_render.select { |name, f| f[:display] == :links_media }.each do |field_name, field, field_presenter| -%>
        <div class="result__field">
          <span class="blacklight-<%= field_name.parameterize %> result__value"><%= field_presenter.render %></span>
        </div>
      <% end -%>
    </span>
</span>
<% end %>
