<div id="documents" class="noresults my-4">
  <h3><%= t 'blacklight.search.zero_results.modify_search' %></h3>
  <ul>
    <li><%= t 'blacklight.search.zero_results.use_fewer_keywords' %></li>

    <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field.try(:key) -%>
      <li><%= t 'blacklight.search.zero_results.search_fields', :search_fields => search_field_label(params) %> -
      <%= link_to t('blacklight.search.zero_results.search_everything', field: blacklight_config.default_search_field.label), url_for(search_state.params_for_search(search_field: blacklight_config.default_search_field.key)) %>
      </li>
    <%- end %>

  </ul>
</div>

<% content_for(:sidebar) do %>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Need help finding something?</p>
      <a class="card-link" href="https://library.unt.edu/ask-us/" target="_blank">Contact Us</a>
    </div>
  </div>
<% end %>