$primary-color: #00853E;  // Define a variable for primary color
$hover-color: #000;      // Define a variable for hover color
$transition-speed: 0.3s; // Define a variable for transition speed

// General logo styling
.logo {
  width: 100%;
  fill: $primary-color;
  transition: fill $transition-speed;

  &.hd-logo {
    height: 40px;

    &:hover {
      fill: $hover-color;
    }
  }

  &.hd-lg-logo {
    width: 180px;
    height: auto;
  }

  &.ft-logo {
    max-width: 275px;
  }
}

.dropdown-item {
  &.darker:hover {
    color: var(--bs-white) !important;
    background-color: var(--bs-dark);
    .badge,
    .fas,
    .fad {
      color: $white !important;
    }
  }
}

.shadow-dark {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); ;
}

.ft-eagle-mobile {
  display: block;
  mask: url('../vendor/fontawesome/svgs/custom-icons/unt-eagle.svg') no-repeat center;
  mask-size: contain;
  background-color:  $primary-color;
  opacity: 0.3;
  position: absolute;

  // lg breakpoint and bigger
  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.flag-link:hover,
.flag-link:focus {
  svg {
    filter: invert(15%) hue-rotate(281deg) brightness(91%);
  }
}

.title-header {
  &::before {
    background-image: url(../images/www/features/permanent/plain.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .15;
  }
}
