.sortable-drag {
  .shortcut-card {
    background-color: $success;
  }
}
.sortable-swap-highlight {
  .shortcut-card {
    background-color: $green-100;
  }
}

.sorting {
  .shortcut-card-wrapper {
    cursor: grab;
  }
  .shortcut-card-wrapper:active {
    cursor: grabbing;
  }
}
